# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#!.yarn/cache
.pnp.*

# npm
.npmrc

# artifacts
dist
tmp
temp
coverage

# app
.env
node_modules
.editorconfig

# temp
temp
tmp
.vscode
